{% extends 'base.html.twig' %}

{% block title %}Détails  Catastrophe{% endblock %}

{% block body %}
<style>

</style>



<div class="main-wrapper">
   {% include "partials/_header.html.twig" %}
   
   {% include "partials/_sidebar.html.twig" %}

<div class="page-wrapper">
 
<div class="row">
<div class="col-md-10 d-flex m-auto mt-4">

      <div class="card card-table flex-fill">
                     <div class="card-header">
                                 <h4 class="header-title text-center" style="text-transform:uppercase; font-weight:300;">Details sur Le catastrophe</h4>
                                <div class="list-group">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1" style="color:#218C74; font-weight:500; font-size:20px;"> {{ catastrophe.nomCatastrophe  }} </h5>
                                             
                                            <small style="color:#218C74; font-weight:300;"> {{ catastrophe.createdAt | ago (locale='fr') }}</small>
                                        </div>
                                         <h4><h6 class="mb-1" style=" font-weight:500; font-size:15px;">Categorie: <span style="color:#218C74;"> {{ catastrophe.categorie.nom  }}</span> </h6>
                                        <h4><h6 class="mb-1" style=" font-weight:500; font-size:15px;">Sous Categorie : <span style="color:#218C74;"> {{ catastrophe.SousCategorie.nom  }}</span> </h6>
                                        <p class="mb-1" style="font-weight:500;font-family: 'Poppins', sans-serif; font-size: 14px">Description:&nbsp; {{ catastrophe.description }} </p>
                                        <small style="font-weight:500;font-family: 'Poppins', sans-serif; font-size: 14px"> Pays :&nbsp;{{ catastrophe.pays }}</small>
                                        <small style="font-weight:500;font-family: 'Poppins', sans-serif; font-size: 14px"> Continent :&nbsp;{{ catastrophe.continent.nom }}</small>
                                         <small style="font-weight:500;font-family: 'Poppins', sans-serif; font-size: 14px"> Localisation:&nbsp;{{ catastrophe.localisation }}</small>
                                         <small style="font-weight:500;font-family: 'Poppins', sans-serif; font-size: 14px"> Cause :&nbsp;{{ catastrophe.causeCatastrophe }}</small>
                                        <small style="font-weight:500;font-family: 'Poppins', sans-serif; font-size: 14px"> nombres de morts :&nbsp;{{ catastrophe.nombreMort }}</small>
                                         <small style="font-weight:500;font-family: 'Poppins', sans-serif; font-size: 14px"> nombres de morts :&nbsp;{{ catastrophe.nombreBlesses }}</small>
                                        <small style="font-weight:500;font-family: 'Poppins', sans-serif; font-size: 14px"> Sans abris :&nbsp;{{ catastrophe.sansAbris }}</small>
                                         <small style="font-weight:500;font-family: 'Poppins', sans-serif; font-size: 14px"> Dimenssion :&nbsp;{{ catastrophe.dimension }}</small>
                                       
                                
                                </div>
                            </div>
      </div>


      

</div>
</div>
 <div class="col-md mt-2 m-auto pb-5">
<div id="carouselExampleControls" class="carousel slide  col-md-10 m-auto" data-bs-ride="carousel">
  <div class="carousel-inner ">
    {%  for image in catastrophe.images %}
        
  
    <div class="carousel-item  {% if loop.first %}active{% endif %}">
      <img src="{{ asset('/uploads/'~image.nom) }}" class="d-block w-100 col-6" alt="..." style="height:60vh;box-shadow: 0 2px 6px rgba(58, 57, 68, 0.2);">
    </div>
      {% endfor %}
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
</div>
</div>
   

    
{% endblock %}
