<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title">
</li>
<li class="active">
<a href=" {{ path('home') }} "><i class="fas fa-home" style="color:#fff;"></i> <span>Dashboard</span></a>
</li>
{% if is_granted('ROLE_ADMIN') %}
<li class="submenu nav-item dropdown has-arrow">
<a href="{{ path('utilisateurs') }}"><i class="fas fa-users" style="color:#218C74;"></i> <span> Utilisateurs</span></a>
</li>
{% endif %}
<li class="submenu">
<a href=" {{ path('catastrophe_new') }} "><i class="fas fa-plus" style="color:#218C74;"></i> <span> Nouveau Catastrophe</span></a>
</li>
<li class="submenu">
<a href=" {{ path('catastrophe_publier') }} "><i class="fas fa-plus" style="color:#218C74;"></i> <span>Catastrophe publier</span></a>
</li>
 {% if is_granted('ROLE_ADMIN') %}
<li>
<a href=" {{ path('catastrophe_list') }} "><i class="fas fa-newspaper" style="color:#218C74;"></i> <span>Catastrophes</span></a>
</li>
<li>
<li>
<a href="{{ path('listescategories') }} "><i class="fas fa-pencil" style="color:#218C74;"></i> <span>Categories</span></a>
</li>
<li>
<a href="{{  path('listesprevention') }} "><i class="fas fa-comments" style="color:#218C74;"></i> <span>Préventions</span></a>
</li>
<li>
<a href="  {{  path('statistique') }} "><i class="fas fa-sync" style="color:#218C74;"></i> <span> Statistiques</span></a>
</li>
<li>
 <a href="components.html"><i class="fas fa-cog" style="color:#218C74;"></i> <span>Réglages</span></a>
</li>
 {% endif %}
</ul>
</li>
</ul>
</div>
</div>
</div>