{% extends 'base.html.twig' %}

{% block title %}Gestion des Catastrophes!{% endblock %}

{% block body %}
<style>
 body{
     background-color:#fff;
 }
</style>

<div class="main-wrapper">
   
<div class="header">
  <div class="header-left">
<a href="#" class="logo">
 <span style="font-size:25px; font-weight:bold;">Disaster</span>  <span class="text-secondary">Management</span>
</a>
</div>

<a href="javascript:void(0);" id="toggle_btn">
<i class=""></i>
</a>
<div class="top-nav-search">
<form>
<input type="text" class="form-control" placeholder="Search here">
<button class="btn" type="submit"><i class="fas fa-search"></i></button>
</form>
</div>

<a class="mobile_btn" id="mobile_btn">
<i class="fas fa-bars"></i>
</a>


<ul class="nav user-menu">

<li class="nav-item dropdown noti-dropdown">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<i class="fas fa-bell"></i> <span class="badge badge-pill">3</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-02.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-11.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-17.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/profiles/avatar-13.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="#">View all Notifications</a>
</div>
</div>
</li>


<li class="nav-item dropdown has-arrow">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
 {% if not app.user %}
   
  {% else %}
<span class="user-img"><img class="rounded-circle" src="/images/blog/{{  app.user.imageUser  }}" width="31" alt="Seema Sisty"></span>
</a>
<div class="dropdown-menu">
<div class="user-header">
<div class="avatar avatar-sm">
<img src="/images/blog/{{  app.user.imageUser  }}" alt="User Image" class="avatar-img rounded-circle">
</div>
<div class="user-text">
<h6 style="font-size:11px;"> {{ app.user.email }} </h6>
<p class="text-muted mb-0 text-uppercase"> {{ app.user.username }} </p>
</div>
</div>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<a class="dropdown-item" href=" {{ path('profile') }} ">Mon Profile</a>
<a class="dropdown-item" href="{{ path('user', {'slug': app.user.slug }) }}">Mes Catastrophes</a>
<a class="dropdown-item" href="#">Méssagerie</a>
{% endif %}
<a class="dropdown-item" href="{{ path('security_logout') }}">Déconnexion</a>
</div>
</li>

</ul>
 {% endif %}
</div>


   
   {% include "partials/_sidebar.html.twig" %}

<div class="page-wrapper mt-4">
  <div class="container">
<div class="col-md-4 m-auto pb-4 mt-3">
     {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-md m-auto text-center">
     <button type="submit" class=" register">Réchercher</button>
     </div>
 {{ form_end(form) }}
</div>
</div>
<div class="row">
<div class="col-md-11 d-flex m-auto">
<div class="card card-table flex-fill">
<div class="card-header">
<h4 class="card-title float-start">Resultats de la recherche</h4>
<div class="table-search float-end">
<input type="text" class="form-control" placeholder="Search">
<button class="btn" type="submit"><i class="fa fa-search"></i></button>
</div>
</div>
<div class="card-body">
<div class="table-responsive no-radius">
<table class="table table-hover table-center">
<thead>
<tr>
<th>Nom du Catastrophe</th>
<th> Continent</th>
<th class="text-center">Pays</th>
<th class="text-center">Ville</th>
<th class="text-end">Localisation</th>
</tr>
</thead>
<tbody>

{% for catastrophe in catastrophes %}
    

<tr>
<td class="text-nowrap">
<div class="font-weight-600"> {{ catastrophe.nomCatastrophe }} </div>
</td>
<td class="text-nowrap">{{ catastrophe.continent.nom }} </td>
<td class="text-center">{{ catastrophe.pays.nom }} </td>
<td class="text-center">
{{ catastrophe.ville}} 
</td>
<td class="text-end">
<div class="font-weight-600 text-danger">{{ catastrophe.Localisation}} </div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>

</div>
</div>
</div>
</div>

</div>


{% endblock %}
