{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
<style>
  .btn-out {
  color: #218c75e1;
  border-color: #218c75e1;
  background: transparent;
}
.btn-out:hover {
  color: #fff;
  background-color: #218c75e1;
  border-color: #218c75fd;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
  transform: translateY(-1px);
}
</style>

<div class="main-wrapper">
   {% include "partials/_header.html.twig" %}
   
   {% include "partials/_sidebar.html.twig" %}

<div class="page-wrapper mt-4">
 
<div class="row" id="printJS-graphe">
<div class="col-md-11 d-flex m-auto" >
  <div class="col-md-8 mt-3 m-auto" >
    <div class="col-md text-center mt-2">
 <h5 class=" bg-success-light">Nombre de mort enregistrer en fonction de la date </h5>
 </div> <br><br>
      
      {{ render_chart(chart) }}

       
  </div>
</div>
<div class="col-md-11 d-flex m-auto mt-4">
  <div class="col-md-8 mt-3 m-auto">
    <div class="col-md text-center mt-2">
 <h5 class=" bg-success-light">Nombre de catastrophe enregistrer par categorie</h5>
 </div> <br><br>
      
      {{ render_chart(chart1) }}

       
  </div>
</div>
<div class="col-md-11 d-flex m-auto mt-4">
  <div class="col-md-8 mt-3 m-auto">
    <div class="col-md text-center mt-2">
 <h5 class=" bg-success-light">Nombre de catastrophe enregistrer par pays</h5>
 </div> <br><br>
      
      {{ render_chart(chart2) }}

       
  </div>
</div>
<div class="col-md-11 d-flex m-auto mt-4">
  <div class="col-md-6 mt-3 m-auto">
  <div class="col-md text-center mt-2">
 <h5 class=" bg-success-light">Nombre total de mort en fonction des pays</h5>
 </div> <br><br>
      
      {{ render_chart(chart3) }}

       
  </div>
</div>
</div>
  
</div>
</div>
 {% block javascripts %}
    <script src="{{ asset('print/print.min.js') }}"></script>
    {% endblock %}
{% endblock %}
